.jp-icon3[fill] { /* file icon color */
    fill: var(--jp-layout-color4);
}

.jp-DirListing-header {
    box-shadow: none;
    border-bottom: var(--jp-border-width) solid var(--jp-border-color2)
}
.jp-FilterBox {
    width: inherit;
    --neutral-fill-strong-rest: #e0e0e0;
    --control-corner-radius: 4;
    --neutral-fill-input-rest: transparent;
}

.jp-FileBrowser-toolbar .jp-ToolbarButtonComponent[data-command='launcher:create'] {
    background: var(--jp-brand-color2);
}
.jp-FileBrowser-toolbar .jp-ToolbarButtonComponent[data-command='launcher:create']:hover {
    background: var(--jp-brand-color3);

}
.jp-DirListing-item.jp-mod-selected {
    background-color: #edf4fd;
    color: var(--jp-brand-color2);
}
.jp-DirListing-item.jp-mod-selected .jp-icon-selectable[fill] {
    fill: var(--jp-brand-color2)
}
.jp-DirListing-item.jp-mod-selected .jp-icon-selectable-inverse[fill] {
    fill: var(--jp-layout-color0)
}

jp-button {
    border-radius: 5px;
}

body {
    background-color: #fbfbfb;
}
#jp-main-dock-panel {

    background-color: #f7f6f9;

}
#jp-left-stack {
    /* border-right: none */
}
.jp-Toolbar {
    box-shadow: none;
    border-bottom: none;
}

.lm-DockPanel-widget {
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.lm-DockPanel-tabBar {
    /* padding-left: 5px; */
    top: 0 !important;

}

.lm-TabBar-content {
    gap: 5px;
}
.lm-TabBar-content li {
    border-radius: 5px;
    border: none !important;
    padding-bottom: 5px;

}
.lm-DockPanel-tabBar .lm-TabBar-tab {
    background-color: #e0e0e04d;
}
.lm-DockPanel-tabBar[data-orientation='horizontal'] {
    min-height: calc(
        var(--jp-private-horizontal-tab-height) + 2 * var(--jp-border-width) + 5px
      );
}
.lm-TabBar-content li::after {
    border-bottom: none !important;
}
.lm-TabBar-addButton {
    border-radius: 5px;
    margin-left: 5px;
}

.lm-TabBar .lm-TabBar-addButton::after {
    border-bottom: none;
}
.lm-TabBar .lm-TabBar-addButton {
    padding-bottom: 4px;
}

.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current {
    background-color: #edf4fd;
    color: var(--jp-brand-color2);
}

/* editor */
.jp-InputArea-editor {
    background: var(--jp-layout-color2);
    border-radius: 5px;
}
.jp-InputPlaceholder > .jp-Placeholder-content {
    background: var(--jp-layout-color2);
    border-radius: 5px;
}

/* top menu */
#jp-menu-panel .lm-MenuBar-content li{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* active menuItem */
.lm-MenuBar.lm-mod-active .lm-MenuBar-item.lm-mod-active{
    box-shadow: none;
    background-color: var(--jp-layout-color3)
}
.lm-MenuBar-item.lm-mod-active:hover {
    background-color: var(--jp-layout-color3)
}
.jp-LabShell[data-shell-mode='single-document'] .lm-MenuBar.lm-mod-active .lm-MenuBar-item.lm-mod-active {
    border-color: transparent;
}
/* menu dropdown start */
.lm-Menu {
    font-size: medium;
    box-shadow: rgba(212, 212, 212, 0.4) 0px 4px 20px 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: transparent;
}
.lm-Menu .lm-Menu-content .lm-Menu-item {
    min-height: calc(var(--jp-private-menu-item-height) + 4px);
    max-height: calc(var(--jp-private-menu-item-height) + 4px);
    line-height: calc(var(--jp-private-menu-item-height) + 4px);

}
.lm-Menu .lm-Menu-content li div::after {
    border-color: var(--jp-border-color0);
}
/* menu dropdown end */


/* 侧边栏选中 */
.jp-SideBar.lm-TabBar .lm-TabBar-content .lm-TabBar-tab.lm-mod-current{
    background-color: #edf4fd;
}

.jp-SideBar.lm-TabBar .lm-TabBar-content .lm-TabBar-tab.lm-mod-current .jp-icon3[fill] {
    fill: var(--jp-brand-color2);
}